<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<listener class-name="TestgListeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" parallel="methods" thread-count="2" name="C:/Users/Admin/IdeaProjects/NehaKadamAutomationProject">
<!--        <parameter name="city" value="Selenium Class"></parameter>-->
<!--        <parameter name="browserName" value="chrome"></parameter>-->
        <classes>
<!--       <class name="ParameterClass_2"/>-->
<!--            <class name="ParameterClass"/>-->
            <class name="ReturnFailedTest"></class>
        </classes>
    </test>
</suite>